<template>
  <div class="row full-height">
    <q-input
      class="col-xs-12 q-mb-md"
      filled
      type="textarea"
      rows="20"
    ></q-input>
    <div class="col-xs-12 text-center">
      <ScratchPadSaveButton class="bg-secondary text-white"></ScratchPadSaveButton>
    </div>
  </div>
</template>

<script setup>
import ScratchPadSaveButton from 'components/note/ScratchPadSaveButton.vue'
</script>
