<template>
  <q-page class="row">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="mdi-menu"
          aria-label="List trainings"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Timap
        </q-toolbar-title>

        <q-btn
          flat
          dense
          round
          icon="mdi-pencil"
          aria-label="Scratch pad"
          @click="toggleRightDrawer"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <div class="row bg-primary">
        <q-btn
          class="col-xs-12 full-width q-my-sm text-white"
          flat
          dense
          icon="mdi-plus"
          aria-label="Add training"
          @click="addTrainingPanelDisplayed = true"
        >Training</q-btn>
      </div>
      <TrainingsList
        bordered
        class="full-height q-mb-md text-grey-9"
        :trainings="trainings"
        @training-selected="handleTrainingSelected"
      />
    </q-drawer>

    <q-drawer
      v-model="rightDrawerOpen"
      show-if-above
      bordered
      side="right"
    >
      <ScratchPad class="q-pa-md"></ScratchPad>
    </q-drawer>

    <div class="col-xs-12">
      <AddTraining v-if="addTrainingPanelDisplayed" @training-added="handleTrainingAdded"></AddTraining>
      <TrainingInProgress v-else :training="selectedTraining"></TrainingInProgress>
    </div>
  </q-page>
</template>

<script setup>
import { ref } from 'vue'
import AddTraining from 'components/AddTraining.vue'
import TrainingsList from 'components/TrainingsList.vue'
import TrainingInProgress from 'components/TrainingInProgress.vue'
import ScratchPad from 'components/note/ScratchPad.vue'
import defaultTrainings from '../data/trainings.js'

const trainings = ref(defaultTrainings)
const selectedTraining = ref(trainings.value[0])
const addTrainingPanelDisplayed = ref(true)

function handleTrainingSelected (training) {
  selectedTraining.value = training
  addTrainingPanelDisplayed.value = false
}

function handleTrainingAdded (training) {
  trainings.value.push(training)
  handleTrainingSelected(training)
}

const leftDrawerOpen = ref(false)

function toggleLeftDrawer () {
  leftDrawerOpen.value = !leftDrawerOpen.value
}

const rightDrawerOpen = ref(false)

function toggleRightDrawer () {
  rightDrawerOpen.value = !rightDrawerOpen.value
}
</script>
