<template>
  <div>
    <div v-if="flash">{{ flash }}</div>
    <q-input v-model="name" label="Round" placeholder="name"></q-input>
    <q-input v-model="duration" label="duration" placeholder="00:01:30" min="0" class="q-mb-md"></q-input>
    <q-btn @click="handleButtonClicked" icon="schedule" class="bg-secondary text-white">Add Round</q-btn>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import TimeReader from 'src/services/TimeReader'

const name = ref('')
const duration = ref('')
const emit = defineEmits(['roundAdded'])
const timeReader = new TimeReader()
const flash = ref('')

function handleButtonClicked () {
  if (!name.value) {
    name.value = 'Some Round'
  }

  if (!duration.value) {
    flash.value = 'duration is empty'

    return
  }

  flash.value = ''
  emit('roundAdded', { name: name.value, duration: timeReader.read(duration.value) })
}
</script>
