<template>
  <div class="q-pa-md bg-white full-height">
    <div>
      <AddRound
        @roundAdded="addRound($event)"
        class="text-center" style="border-radius: 5px;"
      ></AddRound>
    </div>

    <q-card class="text-grey-9 q-mt-lg q-mb-lg">
      <q-card-section>
        <div class="text-h6 text-center">{{ name || 'WOD' }}</div>
      </q-card-section>
      <q-card-section>
        <RoundsList :rounds="rounds"></RoundsList>
      </q-card-section>
    </q-card>

    <div class="q-mb-md">
      <q-input
        v-model="name"
        label="Training"
        placeholder="name"
      ></q-input>
    </div>

    <div class="text-center">
      <q-btn
        class="q-pa-md"
        label="Create"
        color="primary"
        @click="handleCreateButton"
      />
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import AddRound from 'components/AddRound.vue'
import RoundsList from 'components/RoundsList.vue'
import { useQuasar } from 'quasar'

const $q = useQuasar()
const emit = defineEmits([
  'trainingAdded'
])
const name = ref('')
const rounds = ref([])
const nextId = ref(0)

function addRound (round) {
  rounds.value.push({ name: round.name, duration: round.duration, id: nextId.value++ })
}

function handleCreateButton () {
  if (rounds.value.length === 0) {
    $q.notify({
      message: 'Add a round to create a training.',
      color: 'red',
      position: 'bottom-left',
      timeout: 300
    })
    return
  }

  if (name.value === '') {
    name.value = 'WOD'
  }

  emit('trainingAdded', {
    name: name.value,
    rounds: rounds.value
  })
}
</script>
