<template>
  <q-list>
    <q-item clickable v-for="training in props.trainings" :key="training.id">
      <q-item-section @click="handleClickedItem(training)">{{ training.name }}</q-item-section>
    </q-item>
  </q-list>
</template>

<script setup>
const props = defineProps(['trainings'])
const emit = defineEmits(['trainingSelected'])

function handleClickedItem (training) {
  emit('trainingSelected', training)
}
</script>
