<template>
  <div>
    <RoundInProgress
      :remaining-seconds="currentRoundRemainingSeconds"
      :duration-in-seconds="currentRoundDurationInSeconds"
      :name="props.training.rounds[currentRoundIndex].name"
    ></RoundInProgress>
  </div>

  <div>
    <TrainingCard flat :training="props.training" />
  </div>

  <q-footer>
    <div
      class="text-center q-my-md row"
    >
      <div class="col-xs-6">
        <StartTrainingButton
        v-show="!trainingStarted"
        color="accent"
        @training-started="startTraining" />
        <PauseTrainingButton
          v-show="!trainingPaused && trainingStarted"
          color="secondary"
          @training-paused="pauseTraining"
        />
        <ResumeTrainingButton
          v-show="trainingPaused && trainingStarted"
          color="accent"
          @training-resumed="resumeTraining"
        ></ResumeTrainingButton>
      </div>
      <div class="col-xs-6">
        <ResetTrainingButton
          color="orange"
          @training-reset="resetTraining"
        />
      </div>
    </div>
  </q-footer>
</template>

<script setup>
import TrainingCard from 'components/TrainingCard.vue'
import StartTrainingButton from 'components/StartTrainingButton.vue'
import PauseTrainingButton from 'components/PauseTrainingButton.vue'
import ResumeTrainingButton from 'components/ResumeTrainingButton.vue'
import ResetTrainingButton from 'components/ResetTrainingButton.vue'
import RoundInProgress from 'components/round/RoundInProgress.vue'
import { ref } from 'vue'
import { useQuasar } from 'quasar'

const props = defineProps({
  training: Object
})
const $q = useQuasar()
const currentRoundIndex = ref(0)
const trainingPaused = ref(false)
const trainingStarted = ref(false)
const clockIntervalId = ref(0)
const currentRoundDurationInSeconds = ref(props.training.rounds[0].duration)
const currentRoundRemainingSeconds = ref(currentRoundDurationInSeconds.value)

function resetTraining () {
  trainingStarted.value = false
  trainingPaused.value = false
  clearInterval(clockIntervalId.value)
  currentRoundIndex.value = 0
  currentRoundRemainingSeconds.value = props.training.rounds[0].duration
}

function playRounds (rounds, current = 0) {
  if (rounds[current] === undefined) {
    end()
    resetTraining()

    return
  }

  currentRoundIndex.value = current
  currentRoundDurationInSeconds.value = rounds[current].duration

  let elapsedSeconds = 0
  const notifyTime = (remainingSeconds) => {
    currentRoundRemainingSeconds.value = remainingSeconds
  }

  notifyTime(currentRoundDurationInSeconds.value)

  clockIntervalId.value = setInterval(() => {
    if (trainingPaused.value) {
      return
    }

    const remainingTime = currentRoundDurationInSeconds.value - ++elapsedSeconds

    if (remainingTime <= 0) {
      playSound()
      $q.notify({
        message: 'ring!',
        color: 'green',
        position: 'center'
      })
      clearInterval(clockIntervalId.value)
      playRounds(rounds, current + 1)

      return
    }

    notifyTime(remainingTime)
  }, 1000)
}

function startTraining () {
  if (trainingStarted.value === true) {
    return
  }

  playSound()
  trainingStarted.value = true
  playRounds(props.training.rounds)
}

function pauseTraining () {
  trainingPaused.value = true
}

function resumeTraining () {
  trainingPaused.value = false
}

function end () {
  trainingStarted.value = false
  $q.notify({
    message: `Training ${props.training.name} done.`,
    color: 'green',
    position: 'center'
  })
  playEndSound()
}

const soundUrl = ref('audio/bowl-strike-5s.mp3')

function playSound () {
  const audio = new Audio(soundUrl.value)
  audio.play()
}

function wait (durationInSeconds) {
  return new Promise((resolve) => {
    setTimeout(resolve, durationInSeconds * 1000)
  })
}

async function playEndSound () {
  const intervalId = setInterval(() => playSound(), 300)

  await wait(1)
  clearInterval(intervalId)
}
</script>
