<template>
  <div class="text-center q-my-sm">

    <q-circular-progress
      class="text-light-blue"
      color="light-blue"
      size="10em"
      show-value
      :value="value"
    >
      <div style="font-size: smaller;">
        {{ getTime() }}
      </div>
    </q-circular-progress>

    <div
      class="q-px-sm q-py-sm text-light-blue-7"
      style="font-size: 3em;"
    >
      {{ props.name }}
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import TimeWriter from 'src/services/TimeWriter'

const props = defineProps({
  remainingSeconds: Number,
  durationInSeconds: Number,
  name: String
})
const value = ref(0)
const timeWriter = new TimeWriter()

function getTime () {
  value.value = Math.ceil(props.remainingSeconds / props.durationInSeconds * 100)
  return `${timeWriter.write(props.remainingSeconds)}`
}
</script>
